@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200,200italic,300italic,400,400italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #9bfbd2;
  font-weight: 200;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center; }

.gigantic {
  font-size: 8em;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 4em;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 2em;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 1.5em;
  line-height: 1.38; }

.big, h4 {
  font-size: 1.25em;
  line-height: 1.38; }

p {
  font-size: 1.125em; }

.small, small {
  font-size: 0.75em;
  line-height: 1.2; }

* {
  box-sizing: border-box; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #9bfbd2;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #e5fef3; }

::selection {
  background: #bbb; }

::-moz-selection {
  background: #bbb; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #bbb; }

body {
  background: #fff;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  color: #2e2d33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 1.2rem;
  line-height: 1.5; }

.sidebar {
  left: -220px;
  z-index: 2;
  width: 220px;
  position: fixed;
  top: 0px;
  bottom: 0px; }
  .sidebar .sidebar-button {
    background: #9bfbd2;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    color: #e5fef3; }
    .sidebar .sidebar-button:hover {
      color: #fff; }
      .sidebar .sidebar-button:hover .text-container:before {
        background: #fff;
        box-shadow: 0 0.25em 0 0 #fff, 0 0.5em 0 0 #fff; }
    .sidebar .sidebar-button .text-container {
      position: relative;
      padding-left: 1.25em;
      transform: rotate(-90deg);
      height: 1rem;
      line-height: 0.5;
      font-size: 2rem;
      -webkit-user-select: none; }
      .sidebar .sidebar-button .text-container:before {
        content: " ";
        position: absolute;
        left: 0;
        top: -0.05em;
        width: 1em;
        height: 0.15em;
        background: #e5fef3;
        box-shadow: 0 0.25em 0 0 #e5fef3, 0 0.5em 0 0 #e5fef3; }
  .sidebar.open {
    left: 0px; }
    .sidebar.open .sidebar-button {
      display: none; }
  .sidebar .sidebar-menu {
    background: #9bfbd2;
    height: 100%;
    position: relative;
    padding-top: 20px; }
    .sidebar .sidebar-menu .logo {
      display: inline-block;
      width: 220px;
      padding: 40px; }
    .sidebar .sidebar-menu ul {
      padding-left: 20px;
      color: #fff; }
      .sidebar .sidebar-menu ul li {
        font-size: 24pt;
        list-style-type: none;
        padding-bottom: 5px; }
        .sidebar .sidebar-menu ul li a, .sidebar .sidebar-menu ul li span {
          padding-left: 7px;
          border-left: 3px solid #9bfbd2;
          color: #fff; }
        .sidebar .sidebar-menu ul li a:hover {
          border-left: 3px solid #fff; }
        .sidebar .sidebar-menu ul li .sub-item {
          margin: 20px;
          font-size: 18pt; }

/* Push classes applied to the body */
.push-body {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.push-body-toright {
  left: 170px; }

/* Transitions */
.sidebar, .push-body {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.sidebar-button {
  -webkit-transition: all 1.25s ease-in-out;
  -moz-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out; }

.page-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto; }
  .page-container:after {
    content: "";
    display: table;
    clear: both; }

.content-container {
  position: absolute;
  right: 20px;
  left: 20px; }
  .content-container.menu-active {
    left: 240px; }

.page-title {
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif; }

.post-header {
  background-color: #9bfbd2; }
  .post-header .header-img {
    width: 100%;
    padding-top: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll; }
    @media (min-width: 48em) {
      .post-header .header-img {
        padding: 0;
        height: 15em; } }
  .post-header .heading {
    padding: 25px 0; }
    .post-header .heading .post-title {
      font-weight: 600;
      text-align: left;
      max-width: 920px;
      margin: 0 auto;
      color: #fff; }
    .post-header .heading .post-meta {
      display: block;
      font-size: 1.75em;
      font-weight: 600;
      text-align: left;
      max-width: 920px;
      margin: 0 auto;
      color: #fff; }

.post-container, .heading {
  margin: 0 4%; }
  @media (min-width: 62em) {
    .post-container, .heading {
      margin: 0 8%; } }
  @media (min-width: 75em) {
    .post-container, .heading {
      margin: 0 12%; } }
  @media (min-width: 120em) {
    .post-container, .heading {
      margin: 0 18%; } }
  .post-container .post-content, .heading .post-content {
    max-width: 920px;
    position: relative;
    margin: 0 auto; }
    .post-container .post-content img.emojione, .heading .post-content img.emojione {
      height: 24px;
      width: 24px;
      vertical-align: text-top; }

.logo-container {
  margin: 50px 0; }
  .logo-container img {
    display: block;
    margin: 0 auto;
    max-width: 1000px; }

.block-container {
  max-width: 960px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 90px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .block-container .block {
    width: 300px;
    height: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: center; }
    .block-container .block .text-container {
      width: 75%;
      text-align: center;
      font-size: 24pt;
      font-weight: 300;
      text-shadow: 0 1px 1px black; }
      .block-container .block .text-container hr {
        margin-top: 5px;
        height: 1px;
        border-color: #9bfbd2; }
        .block-container .block .text-container hr:after {
          content: "";
          font-size: 8pt;
          display: block;
          height: 30px;
          position: relative;
          top: -15px; }
    .block-container .block:hover, .block-container .block:hover .text-container, .block-container .block:hover .text-container hr, .block-container .block:active, .block-container .block:active .text-container, .block-container .block:active .text-container hr {
      color: #9bfbd2;
      border-color: #9bfbd2;
      text-shadow: 0 1px 1px black; }
  .block-container #illustration {
    position: relative;
    overflow: hidden; }
    .block-container #illustration:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-filter: saturate(0%);
      -webkit-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out; }
    .block-container #illustration:hover:after {
      -webkit-filter: saturate(100%);
      -webkit-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out; }
    .block-container #illustration .text-container hr:after {
      content: "";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-decoration: inherit; }
  .block-container #photography {
    position: relative;
    overflow: hidden; }
    .block-container #photography:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-filter: saturate(0%);
      -webkit-filter: blur(0.2);
      -webkit-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out; }
    .block-container #photography:hover:after {
      -webkit-filter: saturate(100%);
      -webkit-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out; }
    .block-container #photography .text-container hr:after {
      content: "";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-decoration: inherit; }
  .block-container #blog {
    position: relative;
    overflow: hidden; }
    .block-container #blog:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-filter: saturate(0%);
      -webkit-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out; }
    .block-container #blog:hover:after {
      -webkit-filter: saturate(100%);
      -webkit-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out; }
    .block-container #blog .text-container hr:after {
      content: "";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-decoration: inherit; }

.other-wrapper {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  max-width: 1000px;
  margin: 0 auto; }
  .other-wrapper .other-container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    border-top: 1px solid #9bfbd2; }
    .other-wrapper .other-container .other {
      text-transform: uppercase;
      font-size: 24pt;
      font-weight: 300; }
      .other-wrapper .other-container .other:nth-child(odd) {
        padding-right: 25px; }
      .other-wrapper .other-container .other:nth-child(even) {
        padding-left: 25px; }

.bio-container {
  margin: 0 auto;
  padding: 20px; }
  .bio-container:after {
    content: "";
    display: table;
    clear: both; }
  .bio-container .bio-img {
    margin-top: 20px;
    position: relative;
    z-index: 1;
    float: left;
    max-width: 45%; }
    .bio-container .bio-img:before {
      content: " ";
      position: absolute;
      z-index: 2;
      border-width: 0 0 75px 100px;
      border-style: solid;
      border-color: #fff transparent transparent #fff; }
    .bio-container .bio-img img {
      width: 100%; }
  .bio-container .bio-text {
    background: #9bfbd2;
    max-width: 55%;
    position: relative;
    z-index: 1;
    float: right; }
    .bio-container .bio-text .text-container {
      display: flex;
      align-items: center;
      height: 92.5%; }
      .bio-container .bio-text .text-container p {
        padding: 1em; }
      .bio-container .bio-text .text-container a {
        color: #e5fef3; }
        .bio-container .bio-text .text-container a:hover {
          color: #fff; }
    .bio-container .bio-text:before {
      display: block;
      content: "ME, ME, ME";
      position: relative;
      text-align: right;
      background: #fff;
      display: block;
      line-height: 0.7;
      margin-right: -2px;
      color: #9bfbd2;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 3rem; }
    .bio-container .bio-text:after {
      content: " ";
      position: absolute;
      bottom: 0;
      right: 0;
      border-width: 0 0 75px 100px;
      border-style: solid;
      border-color: transparent #fff #fff transparent; }

/*.profile-img
 * img
 *   max-width: 700px
 *   margin: 0 auto
 *   display: block */
ul {
  display: block;
  list-style-type: none;
  padding: 0; }

.blog-item {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 40px 0 0 0;
  margin: 10px 0;
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100px; }
  .blog-item .overlay {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
  .blog-item .post-title {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    background: rgba(0, 0, 0, 0.25);
    z-index: 3; }
  .blog-item:hover .overlay {
    background-color: rgba(255, 255, 255, 0.5); }
  .blog-item:hover .post-title {
    color: #000;
    background-color: transparent; }

.page-title .highlight {
  position: relative; }
  .page-title .highlight:after {
    content: "";
    display: block;
    background: rgba(249, 236, 49, 0.3);
    height: 1em;
    width: 200px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    left: 5px;
    -webkit-transform: rotate(24deg) skewY(-24deg);
    transform: rotate(24deg) skewY(-24deg); }

form {
  margin: 50px auto;
  font-size: 1.5em; }
  form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #fff;
    border-bottom: 2px solid #000;
    background-color: #fff;
    border-radius: 3px; }
    form input[type="submit"], form textarea[type="submit"] {
      border-color: #9bfbd2; }
    form input:focus, form textarea:focus {
      outline: none;
      background-color: #e5fef3;
      border: 2px solid #e5fef3;
      border-bottom: 2px solid #9bfbd2;
      border-radius: 3px; }
  form .input-focus {
    color: #9bfbd2;
    font-weight: 300; }
  form [type='submit'] {
    background: #9bfbd2;
    color: white;
    text-transform: uppercase;
    width: 33%; }
  form .submit-container {
    text-align: right; }
  form label {
    display: block;
    margin-bottom: 20px; }
    form label span {
      display: block;
      font-weight: 300;
      margin-bottom: 6px; }
    form label textarea {
      resize: vertical;
      height: 10em; }
  form .contact-form-group label {
    width: 50%;
    float: left; }
    form .contact-form-group label:nth-child(odd) {
      padding-right: 5px; }
    form .contact-form-group label:nth-child(even) {
      padding-left: 5px; }
